# Compilados y empaquetados
target/
bin/

# Build del ejecutable
build/

# Maven
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Variables de entorno
.env

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/

# Sistema
.DS_Store
Thumbs.db